
.jumbotron {
background: url(images/img1.png) top center;
background-size: cover;
margin-left: 20px;
margin-right: 20px;
margin-top: 1em;
padding-top: 10em;
padding-bottom: 10em;


}



/*icon animation*/
* {box-sizing: border-box;}

.icons {
    margin: 15px;
    width: 80px;
    height: 80px;
    border-radius: 25%;
    cursor: pointer;
    align-content: space-between;
  }    
  
  .icons:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
    transform: translate3d( 0, 0, 0);
    perspective: 1000px;
    filter: grayscale(70%)
  }


  footer {
    display:flex;
    justify-content: flex-end;
    
  }
   
  @keyframes shake {
    10%, 90% { 
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}
