
h3 {
  padding: 5px
  text-align: center;
  color: #288b39;

}


.jumbotron {
background: url(images/img1.png) top center;
background-size: cover;
margin-left: 15px;
margin-right: 15px;
margin-top: 1em;
padding-top: 10em;
padding-bottom: 10em;
}


/*carousel styling*/
.carousel-indicators li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #163552;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: #0db61b;
}




/*icon animation*/
* {box-sizing: border-box;}

.icons {
    margin: 15px;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    cursor: pointer;
    align-content: space-between;
  }    
  
  .icons:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
    transform: translate3d( 0, 0, 0);
    perspective: 1000px;
    filter: grayscale(70%)
  }


  footer {
    background-color: #22313f;
    display:flex;
    justify-content: flex-end;
    
  }
   
  @keyframes shake {
    10%, 90% { 
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}
