
* { box-sizing: content-box;}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: size 100px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
  }
  
  header {
    margin: 3rem;
    margin-bottom: -50px;
    background-color:#383844; 
    color: #ffffff;
  }

  header a{
    color: #288b39;
  }
    
  footer {
    background-color: #383844;
    margin: 3rem;
    margin-top: -50px;
    display: flex;
    flex-direction: row-reverse;
  }

  /* styling navigation menu */
  .Nav {
    font-size: medium;
    font-weight: 500;
    font-stretch: 3rem;
    display: flex;
    justify-content: space-around;
    flex-basis: auto;
    padding: 1rem;
    border: 4px double #288b39;
    border-width: auto;
  }

  /* styling link tags in navigation menu */
  .Nav a {
    color: #288b39;
  }

  .Main {
    margin: 1rem;
    padding: 1rem;
  }

  p {
    text-align: center;
  }

 
  h2 {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: #383844;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    padding: 0.5% 0 0.5% 0;
    color: #288b39;
    font-size: large;
    font-weight: 500;
    text-transform: uppercase
  }

 
  h3 a{
    text-decoration: none;
    color: #288b39;
  }


  .Icons {
    display: flex;
    width: 40px;
    margin: 40px;
    height: auto;
  }

/* styling content in header */ 
.Box {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  }

.InfoList {
  margin: 1% 30% 1% 1%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: space-evenly;
  }

#ProfilePicture {
  display: flex;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border: 4px solid white;
  margin: 2rem;
}

.Content {
  margin: 3rem;
  border: 5px solid #288b39;
}
 
.Nav a{
  text-decoration: none;
  text-transform: uppercase;
}

.Lists {
  list-style-type: circle;
}

/*icon animation

.icons {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border-radius: 25%;
    cursor: pointer;
  }    
  
  .icons:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
    transform: translate3d( 0, 0, 0);
    perspective: 1000px;
    filter: hue-rotate(90deg)
  }
   
  @keyframes shake {
    10%, 90% { 
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
  
  }

*/