


.jumbotron {
background: url(images/img1.png) top center;
background-size: cover;
margin-top: 1em;
padding-top: 10em;
padding-bottom: 10em;
margin-left: -14px;
margin-right: -14px;
}


h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: x-large;
  padding: 10px;
  text-align: center;
  color: #22645E;

}

a {
  color:#62C6DD;
}

li {
  list-style-type: none;
}


.carousel-indicators li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 5px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #DC8032;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
  width: 15px;
  height: 15px;
  margin: 5px;
  background-color: #42bddf;
}


.form {
  margin: 0 200px 0 200px;
}

.col {
  padding-bottom: 5px;
}

.button {
  margin-top: 4px;
  display: flex;
  justify-content: center;
}

.buttonColor {
  color: #DC8032;
}


/*icon animation*/
* {box-sizing: border-box;}

.icons {
    margin: 15px;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    cursor: pointer;
    align-content: space-between;
  }    
  
  .icons:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
    transform: translate3d( 0, 0, 0);
    perspective: 1000px;
    filter: grayscale(70%)
  }


  footer {
    background-color: #DC8032;
    display:flex;
    justify-content: flex-end;
    
  }
   
  @keyframes shake {
    10%, 90% { 
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}


/* Mobile Styling */
@media only screen and (min-width: 563px) {
  body {
      background-image: url(images/background-mobile.jpg);
  }
  .form {
    margin: 0 10px 0 10px;
  }
  a {
    color:#d47f1e;
  }
  h3 {
    color: #ffffff;
  }
  .jumbotron {
    background: #000;

}

/* Tablet Styling */
@media only screen and (min-width: 768px) {
  body {
      background-image: url(images/background-tablet.jpg);
  }
  .form {
    margin: 0 50px 0 50px;
}
.jumbotron {
  background: url(images/img1.png) top center;
}
  
 



/* Desktop Styling */
@media only screen and (min-width: 1200px) {
  body {
    background-image: url(images/background-desktop.jpg);
 }
 h3 {color: #22645E;
}
a {
  color:#50d1ee;
}
.jumbotron {
  background: url(images/img1.png) top center;
}
