
/*icon animation*/
* {box-sizing: border-box;}

.icons {
    margin: 10px;
    padding: 0 20px 0 20px;
    width: 100px;
    height: 100px;
    border-radius: 25%;
    cursor: pointer;
    align-content: space-between;
  }    
  
  .icons:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
    transform: translate3d( 0, 0, 0);
    perspective: 1000px;
    filter: hue-rotate(90deg)
  }


  footer {
    display:flex;
    justify-content: flex-end;
    
  }
   
  @keyframes shake {
    10%, 90% { 
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}
